<section class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form method="post" [formGroup]="pageForm">
            <h2 class="text-center"><strong>Crie</strong>&nbsp;uma conta.</h2>
            <div class="mb-3"><input id="txtEmail" class="form-control" type="email" name="email" placeholder="Email"
                    formControlName="email"></div>
            <div class="mb-3"><input id="txtSenha" class="form-control" type="password" name="password" placeholder="Senha"
                    formControlName="senha"></div>
            <div class="mb-3"><input id="txtSenha2" class="form-control" type="password" name="password-repeat"
                    placeholder="Senha (confirme)"></div>
            <div class="mb-3">
                <!--<div><label class="show-error" id="showError">Erro</label></div>-->
            </div>
            <div class="mb-3">
                <button id="btnCad" class="btn btn-primary d-block w-100" type="submit" (click)='createUser()'>Inscreva-se!</button>
            </div><a id="btnLogin" class="already" [routerLink]="['/login']" routerLinkActive="active">Já tem uma conta? Faça login
                aqui.</a>
        </form>
    </div>
</section>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<router-outlet></router-outlet>