<body>
    <section class="projects-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Categorias</h2>
                <p class="text-center"><br>Gêneros e categorias de livros!<br></p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="assets/img/romance.jpg">
                    <h3 class="name">Romances<br></h3>
                    <p class="description">Gênero que envolve histórias de conteúdo amoroso, sendo esse o centro ou não da trama.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="assets/img/hqs.jpg">
                    <h3 class="name">História em Quadrinhos<br></h3>
                    <p class="description">Forma de arte que conjuga texto e imagens com o objetivo de narrar histórias dos mais variados gêneros e estilos.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="assets/img/fantasia.jpg">
                    <h3 class="name">Literatura fantástica<br></h3>
                    <p class="description">Narrativas ficcionais centradas em elementos não existentes ou não reconhecidos na realidade, pela ciência dos tempos em que a obra foi escrita.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="assets/img/infanto-juvenil.jpg">
                    <h3 class="name">Literatura Infanto-juvenil<br></h3>
                    <p class="description">Obras voltadas ao público jovem, isto é, entre 11 anos e 14 anos.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="assets/img/drama.jpg">
                    <h3 class="name">Dramas</h3>
                    <p class="description">Obras que trazem conteúdos, centrais ou não, caracterizados por sofrimentos e/ou tragédias, todavia, podem ou não terem um desfecho triste.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="assets/img/conto.jpg">
                    <h3 class="name">Contos e Crônicas</h3>
                    <p class="description">Narrativa mais curta do que o romance e a novela (em prosa), geralmente conduz o personagem, ou trama, ao clímax, onde se encerra.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="assets/img/infantil.jpg">
                    <h3 class="name">Literatura Infantil<br></h3>
                    <p class="description">Obras voltadas ao público infantil, isto é, para crianças de até 10 anos.<br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="assets/img/nacional.jpg">
                    <h3 class="name">Literatura nacional<br></h3>
                    <p class="description">Não configuram um gênero entre as categorias de livros, mas indicam as obras brasileiras.<br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="assets/img/new adult.jpg">
                    <h3 class="name">New Adult<br></h3>
                    <p class="description">Gênero que aborda uma fase de transição da adolescência para a vida adulta, com personagens, geralmente, menores de 25 anos, ou saídos do Ensino Médio, por exemplo. Assim também podem ser associados aos Romances, Romances Adultos e Dramas, sendo obras caracterizadas pela intensidade de suas histórias.<br><br><br><br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="assets/img/biografia.jpg">
                    <h3 class="name">Biografia<br></h3>
                    <p class="description">Gênero no qual o autor narra sobre a vida de uma pessoa ou de várias pessoas. A princípio, difere-se dos Romances Biográficos por não trazer o conteúdo sob a estrutura de um Romance (gênero textual).</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="assets/img/aventura.jpg">
                    <h3 class="name">Aventura<br></h3>
                    <p class="description">Refere-se às obras em que o protagonista ou outros grandes personagens são constantemente colocados em situações perigosas, em outras palavras, em grandes aventuras!<br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="assets/img/realismo magico.jpg">
                    <h3 class="name">Realismo Mágico&nbsp;<br></h3>
                    <p class="description">Também conhecido por realismo fantástico ou realismo maravilhoso, traz elementos fantásticos considerados como parte da normalidade pelos personagens.<br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="assets/img/suspense.jpeg">
                    <h3 class="name">Suspense<br></h3>
                    <p class="description"> um gênero que usa o suspense, tensão e excitação como principais elementos.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="assets/img/policial.jpg">
                    <h3 class="name">Policial<br></h3>
                    <p class="description">Uma sequência de crimes é apresentada e o protagonista precisa investigá-los para descobrir quem são os criminosos e os seus motivos. </p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="assets/img/young-adult.jpg">
                    <h3 class="name">Young Adult<br></h3>
                    <p class="description">Gênero que abrange personagens normalmente entre 14 e 21 anos. Separa-se de Literatura Infanto-Juvenil por deixar de lado a ingenuidade dos protagonistas e concentrar-se em temáticas mais adultas.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="assets/img/outros.jpg">
                    <h3 class="name">Interesse Geral<br></h3>
                    <p class="description">Outras obras.</p>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>