<body>
    <div class="container">
	 <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <div class="title-text">
					<br>
					<br>
                        <h2>Meus Livros</h2>
						<br>
                    </div>
                    <p>
                        Encontre aqui seus livros emprestados, disponíveis para empréstimo e sua wishlist
						<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="row product-list dev">
			<div class="title-text">
			<br>
                 <h4>Livros emprestados</h4>
			<br>
            </div>
            <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/Mrs Dalloway.jpg" width="400" height="400"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h3>Mrs Dalloway</h3>
                        </div>
                        <div class="col-4"><a class="small-text" href="#">Mais sobre o autor </a></div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Mrs. Dalloway é um romance histórico de Virginia Woolf publicado em 14 de maio de 1925 que narra um dia na vida de Clarissa Dalloway, uma socialite ficcional que vive na Inglaterra pós-Primeira Guerra Mundial. É um dos romances mais famosos de Woolf. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-primary btn-lg" type="button">Estender</button></div>
                                <div class="col-6">
                                    <p class="product-price">Indisponível </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			 <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/Mrs Dalloway.jpg" width="400" height="400"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h3>Mrs Dalloway</h3>
                        </div>
                        <div class="col-4"><a class="small-text" href="#">Mais sobre o autor </a></div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Mrs. Dalloway é um romance histórico de Virginia Woolf publicado em 14 de maio de 1925 que narra um dia na vida de Clarissa Dalloway, uma socialite ficcional que vive na Inglaterra pós-Primeira Guerra Mundial. É um dos romances mais famosos de Woolf. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-primary btn-lg" type="button">Estender</button></div>
                                <div class="col-6">
                                    <p class="product-price">Indisponível </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			 <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/Mrs Dalloway.jpg" width="400" height="400"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h3>Mrs Dalloway</h3>
                        </div>
                        <div class="col-4"><a class="small-text" href="#">Mais sobre o autor </a></div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Mrs. Dalloway é um romance histórico de Virginia Woolf publicado em 14 de maio de 1925 que narra um dia na vida de Clarissa Dalloway, uma socialite ficcional que vive na Inglaterra pós-Primeira Guerra Mundial. É um dos romances mais famosos de Woolf. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-primary btn-lg" type="button">Estender</button></div>
                                <div class="col-6">
                                    <p class="product-price">Indisponível </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		  <div class="row product-list dev">
			<div class="title-text">
			<br>
                        <h4>Livros disponíveis para empréstimo</h4>
			<br>
            </div>
            <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/Mrs Dalloway.jpg" width="400" height="400"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h3>Mrs Dalloway</h3>
                        </div>
                        <div class="col-4"><a class="small-text" href="#">Mais sobre o autor </a></div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Mrs. Dalloway é um romance histórico de Virginia Woolf publicado em 14 de maio de 1925 que narra um dia na vida de Clarissa Dalloway, uma socialite ficcional que vive na Inglaterra pós-Primeira Guerra Mundial. É um dos romances mais famosos de Woolf. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-primary btn-lg" type="button">Pedidos</button></div>
                                <div class="col-6">
                                    <p class="product-price">Disponível </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			 <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/Mrs Dalloway.jpg" width="400" height="400"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h3>Mrs Dalloway</h3>
                        </div>
                        <div class="col-4"><a class="small-text" href="#">Mais sobre o autor </a></div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Mrs. Dalloway é um romance histórico de Virginia Woolf publicado em 14 de maio de 1925 que narra um dia na vida de Clarissa Dalloway, uma socialite ficcional que vive na Inglaterra pós-Primeira Guerra Mundial. É um dos romances mais famosos de Woolf. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-primary btn-lg" type="button">Pedidos</button></div>
                                <div class="col-6">
                                    <p class="product-price">Disponível </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			 <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/Mrs Dalloway.jpg"width="400" height="400"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h3>Mrs Dalloway</h3>
                        </div>
                        <div class="col-4"><a class="small-text" href="#">Mais sobre o autor </a></div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Mrs. Dalloway é um romance histórico de Virginia Woolf publicado em 14 de maio de 1925 que narra um dia na vida de Clarissa Dalloway, uma socialite ficcional que vive na Inglaterra pós-Primeira Guerra Mundial. É um dos romances mais famosos de Woolf. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-primary btn-lg" type="button">Pedidos</button></div>
                                <div class="col-6">
                                    <p class="product-price">Disponível </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		  <div class="row product-list dev">
			<div class="title-text">
			<br>
                        <h4>Wishlist</h4>
			<br>
            </div>
			            <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/Mrs Dalloway.jpg" width="400" height="400"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h3>Mrs Dalloway</h3>
                        </div>
                        <div class="col-4"><a class="small-text" href="#">Mais sobre o autor </a></div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Mrs. Dalloway é um romance histórico de Virginia Woolf publicado em 14 de maio de 1925 que narra um dia na vida de Clarissa Dalloway, uma socialite ficcional que vive na Inglaterra pós-Primeira Guerra Mundial. É um dos romances mais famosos de Woolf. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-primary btn-lg" type="button">Solicitar livro</button></div>
                                <div class="col-6">
                                    <p class="product-price">Indisponível </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			            <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/Mrs Dalloway.jpg" width="400" height="400"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h3>Mrs Dalloway</h3>
                        </div>
                        <div class="col-4"><a class="small-text" href="#">Mais sobre o autor </a></div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Mrs. Dalloway é um romance histórico de Virginia Woolf publicado em 14 de maio de 1925 que narra um dia na vida de Clarissa Dalloway, uma socialite ficcional que vive na Inglaterra pós-Primeira Guerra Mundial. É um dos romances mais famosos de Woolf. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-primary btn-lg" type="button">Solicitar livro</button></div>
                                <div class="col-6">
                                    <p class="product-price">Disponível </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			            <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/Mrs Dalloway.jpg" width="400" height="400"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h3>Mrs Dalloway</h3>
                        </div>
                        <div class="col-4"><a class="small-text" href="#">Mais sobre o autor </a></div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Mrs. Dalloway é um romance histórico de Virginia Woolf publicado em 14 de maio de 1925 que narra um dia na vida de Clarissa Dalloway, uma socialite ficcional que vive na Inglaterra pós-Primeira Guerra Mundial. É um dos romances mais famosos de Woolf. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-primary btn-lg" type="button">Solicitar livro</button></div>
                                <div class="col-6">
                                    <p class="product-price">Indisponível </p>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/Mrs Dalloway.jpg" width="400" height="400"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h3>Mrs Dalloway</h3>
                        </div>
                        <div class="col-4"><a class="small-text" href="#">Mais sobre o autor </a></div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Mrs. Dalloway é um romance histórico de Virginia Woolf publicado em 14 de maio de 1925 que narra um dia na vida de Clarissa Dalloway, uma socialite ficcional que vive na Inglaterra pós-Primeira Guerra Mundial. É um dos romances mais famosos de Woolf. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-primary btn-lg" type="button">Solicitar livro</button></div>
                                <div class="col-6">
                                    <p class="product-price">Disponível </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			 <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/Mrs Dalloway.jpg" width="400" height="400"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h3>Mrs Dalloway</h3>
                        </div>
                        <div class="col-4"><a class="small-text" href="#">Mais sobre o autor </a></div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Mrs. Dalloway é um romance histórico de Virginia Woolf publicado em 14 de maio de 1925 que narra um dia na vida de Clarissa Dalloway, uma socialite ficcional que vive na Inglaterra pós-Primeira Guerra Mundial. É um dos romances mais famosos de Woolf. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-primary btn-lg" type="button">Solicitar livro</button></div>
                                <div class="col-6">
                                    <p class="product-price">Indisponível </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			 <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                <div class="product-container">
                    <div class="row">
                        <div class="col-md-12"><a class="product-image" href="#"><img src="assets/img/Mrs Dalloway.jpg" width="400" height="400"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h3>Mrs Dalloway</h3>
                        </div>
                        <div class="col-4"><a class="small-text" href="#">Mais sobre o autor </a></div>
                    </div>
                    <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a class="small-text" href="#">82 reviews</a></div>
                    <div class="row">
                        <div class="col-12">
                            <p class="product-description">Mrs. Dalloway é um romance histórico de Virginia Woolf publicado em 14 de maio de 1925 que narra um dia na vida de Clarissa Dalloway, uma socialite ficcional que vive na Inglaterra pós-Primeira Guerra Mundial. É um dos romances mais famosos de Woolf. </p>
                            <div class="row">
                                <div class="col-6"><button class="btn btn-primary btn-lg" type="button">Solicitar livro</button></div>
                                <div class="col-6">
                                    <p class="product-price">Disponível </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Animated-Pretty-Product-List-v12.js"></script>
</body>
