<nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
  <div class="container"><a class="navbar-brand" [routerLink]="['/pagina-inicial']">IBook</a><button
      data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
    <router-outlet></router-outlet>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/pagina-inicial']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/mapa']" routerLinkActive="active">Mapa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/biblioteca']" routerLinkActive="active">Biblioteca</a>
        </li>
        <li class="nav-item dropdown" [hidden]="!isLogado">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{nomeLogado}}
          </a>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="['/livros']" routerLinkActive="active">Meus Livros</a></li>
            <li><a class="dropdown-item" [routerLink]="['/calendario']" routerLinkActive="active">Calendário
                de Devolução</a></li>
            <li><a class="dropdown-item" [hidden]="isBiblio" [routerLink]="['/perfil']" routerLinkActive="active">Minhas
                Informações</a></li>
           <li><a class="dropdown-item"  [hidden]="!isBiblio" [routerLink]="['/cadastro-livro']" routerLinkActive="active">Cadastrar Livros</a></li>
             
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <button class="btn btn-outline-success" style="margin-right: 1rem" (click)="logOnOff()">{{btnLogin}}</button>
</nav>
<router-outlet></router-outlet>
<footer class="bg-light footer">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center text-lg-start my-auto h-100">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a [routerLink]="['/sobre-nos']" routerLinkActive="active">Sobre nós</a></li>
          <li class="list-inline-item"><span>⋅</span></li>
          <li class="list-inline-item"><a [routerLink]="['/contato']" routerLinkActive="active">Contato</a></li>
          <li class="list-inline-item"><span>⋅</span></li>
          <li class="list-inline-item"><a [routerLink]="['/termos-de-uso']" routerLinkActive="active">Termos de Uso</a></li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">© IBook 2021. Todos os Direitos Reservados.</p>
      </div>
      
    </div>
  </div>
  <br>
</footer>