<body><div class="container">
    <form method="post" [formGroup]="pageForm">
    <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="account-settings">
                <div class="user-profile">
                    <div class="user-avatar">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                    </div>
                    <h5 class="user-name">Nome Completo</h5>
                    <p class="user-email">Email</p>
                </div>
                <div class="about">
                    <br>
                    <h6>Sobre mim</h6>
                    <p>Descrição.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h4>Informações Pessoais</h4>
                    <br>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="fullName">Nome</label>
                        <input type="text" class="form-control" id="fullName" formControlName="nome" placeholder="Digite o nome completo">
                        <br>    
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="eMail">Email</label>
                        <input type="email" class="form-control" id="eMail" formControlName="email" placeholder="Email">
                        <br>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="phone">Celular</label>
                        <input type="text" class="form-control" id="phone" formControlName="telefone1" placeholder="Número para contato">
                        <br>
                    </div>
                </div>
            </div>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <br>
                    <h5>Endereço</h5>
                    <br>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="Street">Rua</label>
                        <input type="name" class="form-control" id="Street" formControlName="rua" placeholder="Rua">
                    </div>
                    <br>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="ciTy">Cidade</label>
                        <input type="name" class="form-control" id="ciTy" formControlName="cidade" placeholder="Cidade">
                    </div>
                    <br>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="sTate">Estado</label>
                        <input type="text" class="form-control" id="sTate" formControlName="estado" placeholder="Estado">
                    </div>
                    <br>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="zIp">CEP</label>
                        <input type="text" class="form-control" id="zIp" formControlName="cep" placeholder="00000-000">
                    </div>
                    <br>
                </div>
            </div>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right">
                        <button type="button" id="submit" name="submit" (click)="updateUser()" class="btn btn-primary">Salvar</button>
                        <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div></form>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>